body {
	font: 20px/48px -apple-system, BlinkMacSystemFont, "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	color: #272333;
	background: #FFC819;
	line-height: 140%;
	text-align: center;
}
h1, p, #footer {
	width: 624px;
	margin-left: 192px;
}
h1 {
	font-size: 48px;
	line-height: 120%;
	font-weight: bold;
	padding: 0;
	margin-top: 104px;
	margin-bottom: 48px;
}
p, ul {
	margin-bottom: 16px;
}
a {
	color: #272333;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
#wrapper {
	width: 1008px;
	margin: 80px auto 0 auto;
	padding-bottom: 100px;
}
.companies {
	margin: 80px 0;
	overflow: hidden;
	padding: 32px 24px;
}
.company_outer {
	float: left;
	width: 304px;
	height: 200px;
	background: rgba(0, 0, 0, 0.08);
	margin: 8px;
	border-radius: 6px;
	box-shadow: 0 16px 32px rgba(39, 35, 51, 0.08);
}
.company_inner {
	background-color: #ffffff;
	width: 100%;
	height: 199px;
	border-radius: 6px;
	box-shadow: 0 1px rgba(0, 0, 0, 0.08);
	background-position: center center;
	background-repeat: no-repeat;
}
.company_inner.fertifa{
	background-image: url(../logos/fertifa.svg);
}
.company_inner.valuespace{
	background-image: url(../logos/valuespace.svg);
}
.company_inner.ligence{
	background-image: url(../logos/ligence.svg);
}
.company_inner.superface{
	background-image: url(../logos/superface.svg);
}
.company_inner.deepflare{
	background-image: url(../logos/deepflare.svg);
}
.company_inner.plural{
	background-image: url(../logos/plural.svg);
}
.company_inner.snabb{
	background-image: url(../logos/snabb.svg);
}
.company_inner.blackswan{
	background-image: url(../logos/blackswan.svg);
}
.company_inner.kwota{
	background-image: url(../logos/kwota.svg);
}
.company_inner.beamline{
	background-image: url(../logos/beamline.svg);
}
.company_inner.koos{
	background-image: url(../logos/koos.svg);
}
.company_inner.solidworld{
	background-image: url(../logos/solidworld.svg);
}
.company_inner.dillali {
	background-image: url(../logos/dillali.svg);
}
.company_inner.planet42 {
	background-image: url(../logos/planet42.svg);
}
.company_inner.sfv {
	background-image: url(../logos/sfv.svg);
}
.company_inner.tinyseed {
	background-image: url(../logos/tinyseed.svg);
}
.company_inner.grunfin {
	background-image: url(../logos/grunfin.svg);
}
.company_inner.reverse-resources {
	background-image: url(../logos/reverse-resources.svg);
}
.company_inner.outvio {
	background-image: url(../logos/outvio.svg);
}
.company_inner.fleetguru {
	background-image: url(../logos/fleetguru.svg);
}
.company_inner.ender-turing {
	background-image: url(../logos/ender-turing.svg);
}
.company_inner.barking {
	background-image: url(../logos/barking.svg);
}
.company_inner.woola {
	background-image: url(../logos/woola.svg);
}
.company_inner.wowflow {
	background-image: url(../logos/wowflow.svg);
}
.company_inner.drivex {
	background-image: url(../logos/drivex.svg);
}
.company_inner.memgraph {
	background-image: url(../logos/memgraph.svg);
}
.company_inner.fyma {
	background-image: url(../logos/fyma.svg);
}
.company_inner.visory {
	background-image: url(../logos/visory.svg);
}
.company_inner.sensusq {
	background-image: url(../logos/sensusq.svg);
}
.company_inner.patchstack {
	background-image: url(../logos/patchstack.svg);
}
.company_inner.eziil {
	background-image: url(../logos/eziil.svg);
}
.company_inner.warren {
	background-image: url(../logos/warren.svg);
}
.company_inner.moderan {
	background-image: url(../logos/moderan.svg);
}
.company_inner.dagshub {
	background-image: url(../logos/dagshub.svg);
}
.company_inner.remato {
	background-image: url(../logos/remato.svg);
}
.company_inner.interactio {
	background-image: url(../logos/interactio.svg);
}	
.company_inner.outfunnel {
	background-image: url(../logos/outfunnel.svg);
}
.company_inner.askrobin {
	background-image: url(../logos/askrobin.svg);
}
.company_inner.montonio {
	background-image: url(../logos/montonio.svg);
}
.company_inner.veriff {
	background-image: url(../logos/veriff.svg);
}
.company_inner.dashbird {
	background-image: url(../logos/dashbird.svg);
}
.company_inner.cachet {
	background-image: url(../logos/cachet.svg);
}
.company_inner.procurement_flow {
	background-image: url(../logos/procurement_flow.svg);
}
.company_inner.r8_tech {
	background-image: url(../logos/r8_tech.svg);
}
.company_inner.digital_sputnik {
	background-image: url(../logos/digital_sputnik.svg);
}
.company_inner.plus {
	background-image: url(../icons/plus.svg);
	background-color: #FFC819;
}
.links {
	margin-left: 344px;
	overflow: hidden;
}
li {
	float: left;
	width: 88px;
	margin: 8px;
}
#footer {
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 3px;
	text-transform: uppercase;
	opacity: .4;
	margin-top: 36px;
}

@media (max-width: 1024px) {
	h1, p, #footer {
		width: 624px;
		margin-left: 58px;
	}
	#wrapper {
		width: 768px;
	}
	.company_outer {
		width: 224px;
		height: 144px;
	}
	.company_inner {
		height: 143px;
	}
	.links {
		margin-left: 224px;
	}
}

@media (max-width: 760px) {
	body {
		font-size: 16px;
	}
	h1, p, #footer, .company_outer {
		width: 88%;
		margin-left: 6%;
	}
	h1 {
		font-size: 36px;
		margin-top: 40px;
	}
	#wrapper {
		width: 100%;
		margin-top: 40px;
	}
	.companies {
		margin: 40px 0;
	}	
	.links {
		width: 66%;
		margin-left: 17%;
	}
	li {
		width: 33%;
		margin: 8px 0;
	}
}
